/* media_786.css */

@media (max-width: 767px) {
    /* Styles spécifiques pour les triangles */
    .triangle {
      /* Ajustez les dimensions et l'animation pour s'adapter à la petite résolution */
      width: 60px;
      height: 55px;
      animation-duration: 6s;
    }

/* Styles des blocs modulaires avec la classe commune .modul_rect */

    .annee {
        position: relative; /* Nécessaire pour le positionnement absolu de .s-one */
        height: 100vh; /* Utilisation de toute la hauteur de la vue pour le centrage */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;
    }

    
    .annee .s-one {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centre horizontalement et verticalement */
        width: 380px;
        height: 80%;
         padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(104deg, rgba(117, 165, 255, 0.20) 0%, rgba(147, 185, 255, 0.20) 0.01%, rgba(255, 255, 255, 0.20) 77.6%), rgba(29, 29, 29, 0.05);
        box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.15) inset;
        backdrop-filter: blur(3px);
        border-radius: 3rem;
        border: 0.3px solid #3F1F55;
    }
    
    
.modul_rect {
    width: 240px;
    height: 42px;
    flex-shrink: 0;
    background: linear-gradient(93deg, rgba(117, 165, 255, 0.50) 11.48%, rgba(70, 99, 153, 0.50) 100.98%);
    backdrop-filter: blur(15px);
    margin-bottom: 30px; 
    border-radius: 28px;/* Espace entre les modules */


}
.icon {
    width: 52.74px;
    height: 53px;
    background-color: #274188;
    border-radius: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    left: -23px;
   
  }
  
  .icon img {
    max-width: 100%;
    max-height: 100%;
  }
h1 {
    font-size: 2rem;
}

  
    /* Styles pour masquer certaines sections sur petit écran */
    #annee2, #annee3, #annee4, #annee5 {
      display: none;
    }
  }
  /*MEDIA*/
  @media screen and (max-width: 768px) {
    .navOpen-btn {
      display: block;
      position: fixed;
      top: 40px;
      right: 15px;
      font-size: 2rem;
      cursor: pointer;
      color: white;
      z-index: 1000;
    }
    .header {
      position: fixed;
      top: 0;
      right: -100%;
      max-width: 150px;
      width: 90%;
      height: 95%;
      z-index: 999;
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(104deg, rgba(117, 165, 255, 0.20) 0%, rgba(147, 185, 255, 0.20) 0.01%, rgba(255, 255, 255, 0.20) 77.6%), rgba(29, 29, 29, 0.05);
      box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.15) inset;
      backdrop-filter: blur(3px);
      border-radius: 3.375rem;
      border: 0.3px solid #3F1F55;
      transition: right 0.3s ease-in-out;
    }
    .header.open {
      right: 0;
    }
    /* Logo positionné en haut */
    .logo {
      display: block;
      margin-bottom: auto; /* Laisser de l'espace en dessous du logo */
    }
    /* Centrer le menu verticalement */
    .menu {
      display: flex;
      flex-direction: column;
      flex-grow:1; /* Prendre tout l'espace disponible */
      justify-content: center; /* Centrer le menu verticalement */
      align-items: center;
    }
    .menu-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }
    nav ul li .sous-menu {
      display: block;
      position: absolute;
      border-radius: 12px;
     left: -1px;
     
      border: 0.5px solid linear-gradient(
        104deg,
        rgba(117, 165, 255, 0.2) 0%,
        rgba(147, 185, 255, 0.2) 0.01%,
        rgba(255, 255, 255, 0.2) 77.6%
      ),;
      background: linear-gradient(
        104deg,
        rgba(117, 165, 255, 0.2) 0%,
        rgba(147, 185, 255, 0.2) 0.01%,
        rgba(130, 154, 190, 0.2) 77.6%
      ),
      rgba(29, 29, 29, 0.05);
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: 1 opacity 0.3s ease;
      transform: translateY(100px); 
    
      
    }
    nav ul li:hover .sous-menu {
      display: flex;
      padding: 6px 4px;
     
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25px;
      opacity: 1;
      visibility: visible;
      border-radius: 16px;
      font-size: 15px;
      font-style: italic;
      font-weight: 20px;
      transform: translateY(0); /* Remonte de 1px au survol */
      opacity: 1;
      
      
    }
    #content.blurred {
      filter: blur(5px);
      pointer-events: none; /* Désactive les interactions avec le contenu */
      transition: filter 0.3s ease;
    }
    
    nav ul li .sous-menu li {
      display: block;
    }
    nav ul li .sous-menu li a {
      color: var(--white-color);
      padding: 10px;
      text-decoration: none;
      display: block;
      border-radius: 8px;
    }
    nav ul li .sous-menu li a:hover {
    
      color:var(--one-color);
    }
    .navOpen-btn{
      display: none;
    }
    /* Bouton contribute en bas */
    .contribute {
      margin-top: auto; /* Le placer en bas */
      margin-bottom: 2rem; /* Espacement par rapport au bas */
      display: block;
    }
    /* Masquer logo, menu et bouton contribute par défaut */
    .logo,
    .contribute,
    .menu-list {
      display: none;
    }
    /* Afficher les éléments une fois le menu ouvert */
    .header.open .logo,
    .header.open .contribute,
    .header.open .menu-list {
      display: flex;
    }
    .header.open .menu-list {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }
    .para .welcome .title{
      font-size: 40px;
    }
    .para .welcome .texte{
      font-size: 14px;
      width: 500px;
    }
  }