
@import url("https://fonts.cdnfonts.com/css/nasalization");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@font-face {
  font-family: "Nasalization";
  src: url("font/nasalization-rg.otf");
}

:root {
  --menu-font: "Nasalization", sans-serif;
  --body-font: "Red Hat Display", sans-serif;
  --white-color: #ffffff;
  --body-color: #101221;
  --one-color: #75a5ff;
  --tow-color: #2339ff;
  --inabel-color: #8888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--body-font);
  background-color: var(--body-color);
}

/*******************************LE MENU***********************************************************/

header {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      104deg,
      rgba(117, 165, 255, 0.2) 0%,
      rgba(147, 185, 255, 0.2) 0.01%,
      rgba(255, 255, 255, 0.2) 77.6%
    ),
    rgba(29, 29, 29, 0.05);
  border-radius: 54px;
  margin: 0.625rem auto;
  font-size: 1rem;
  white-space: nowrap;
  padding: 0.625rem 2rem;
  position: relative;
  z-index: 1;
}

header img {
  width: 77px;
  height: 45px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  list-style: none;
}

header nav ul li {
  margin: 0;
}
header nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;
  transition: color 0.3s ease;
  white-space: nowrap;
}

nav ul li a:hover {
  color: var(--one-color);
}

nav ul li #visibel:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

nav ul li a.closed {
  color: var(--inabel-color);
  cursor: not-allowed;
}

.contribute {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color:var(--one-color);
  text-decoration: none; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
  font-weight:400px;
}




.contribute:hover {
  background: var(--one-color);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  border: 1px solid;
  background: none;
}

nav ul li .sous-menu {
  display: none;
  position: absolute;
  border-radius: 12px;
  border: 0.5px solid linear-gradient(
    104deg,
    rgba(117, 165, 255, 0.2) 0%,
    rgba(147, 185, 255, 0.2) 0.01%,
    rgba(255, 255, 255, 0.2) 77.6%
  ),;
  background: linear-gradient(
    104deg,
    rgba(117, 165, 255, 0.2) 0%,
    rgba(147, 185, 255, 0.2) 0.01%,
    rgba(130, 154, 190, 0.2) 77.6%
  ),
  rgba(29, 29, 29, 0.05);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 1 opacity 0.3s ease;

  
}
nav ul li:hover .sous-menu {
  display: flex;
  padding: 6px 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25px;
  opacity: 1;
  visibility: visible;
  border-radius: 16px;
  font-size: 15px;
  font-style: italic;
  font-weight: 20px;
  
}
nav ul li .sous-menu li {
  display: block;
}
nav ul li .sous-menu li a {
  color: var(--white-color);
  padding: 10px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}
nav ul li .sous-menu li a:hover {

  color:var(--one-color);
}
.navOpen-btn{
  display: none;
}
.navClose-btn {
  display: none;
}




/**********************************LE PARAGRAPHE********************************************************/
main {
  display: flex;
  width: 100%;
  height: 80vh;
  padding-top: 3.5rem;
  justify-content: center;
  align-items: center;
  
}
main .para {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 100px;
}

main .para::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: #2c50aa;
  filter: blur(400px);
  z-index: -1;
}

main .welcome {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-family: var(--menu-font);
  color: white;
  font-size: 80px;
}

.texte {
  width: 541px;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.12px;
}
.texte span {
  background: linear-gradient(90deg, #2339ff 7.6%, #75a5ff 47.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--body-font);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
.explore {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 34px;
  border: none;
  background: linear-gradient(
    93deg,
    rgba(117, 165, 255, 0.5) 9.19%,
    rgba(70, 99, 153, 0.03) 100%
  );
  -webkit-backdrop-filter: blur(8px); 
  backdrop-filter: blur(8px);
  -filter: blur(8px);
  color: var(--white-color);
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}
.explore img.exp {
  margin-left: 8px; 

  vertical-align: middle; 
}

/*********************TRANGLES************************/
.triangle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Arrière-plan */
}

.triangle {
  position: absolute;
  width: 84px;
  height: 78px;
  opacity: 0.5;
  animation: move 8s infinite;
}

.triangle1 { top: 10%; left: 10%; width: 30px; height: 50px; animation-duration: 4s; }
.triangle2 { top: 40%; left: 60%; width: 40px; height: 60px; animation-duration: 7s; }
.triangle3 { top: 20%; left: 40%; width: 80px; height: 100px; animation-duration: 9s; }
.triangle4 { top: 70%; left: 10%; width: 80px; height: 70px; animation-duration: 10s; }
.triangle5 { top: 80%; left: 30%; width: 60px; height: 30px; animation-duration: 12s; }
.triangle6 { top: 10%; left: 60%; width: 90px; height: 30px; animation-duration: 10s; }
.triangle7 { top: 50%; left: 85%; width: 80px; height: 60px; animation-duration: 12s; }
.triangle8 { top: 30%; left: 80%; width: 30px; height: 90px; animation-duration: 12s; }
.triangle9 { top: 20%; left: 20%; width: 70px; height: 70px; animation-duration: 12s; }
.triangle10 { top: 80%; left: 80%; width: 100px;}


/* Animation */
@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/****************************************MEDIA**************************************************/
@media (min-width: 768px) {
  .navOpen-btn,
  .navClose-btn {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .navClose-btn {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    z-index: 1000;
  }

  .navOpen-btn {
    display: block;
    position: fixed;
    top: 40px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    z-index: 1000;
  }

  .header {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 150px;
    width: 90%;
    height: 95%;
    z-index: 999;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(104deg, rgba(117, 165, 255, 0.20) 0%, rgba(147, 185, 255, 0.20) 0.01%, rgba(255, 255, 255, 0.20) 77.6%), rgba(29, 29, 29, 0.05);
    box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.15) inset;
    -webkit-backdrop-filter: blur(3px); 
    backdrop-filter: blur(3px);
    border-radius: 3.375rem;
    border: 0.3px solid #3F1F55;

    transition: right 0.3s ease-in-out;
  }

  .header.open {
    right: 0;
  }

  /* Logo positionné en haut */
  .logo {
    display: block;
    margin-bottom: auto; /* Laisser de l'espace en dessous du logo */
  }

  /* Centrer le menu verticalement */
  .menu {
    display: flex;
    flex-direction: column;
    flex-grow:1; /* Prendre tout l'espace disponible */
    justify-content: center; /* Centrer le menu verticalement */
    align-items: center;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  nav ul li .sous-menu {
    display: block;
    position: absolute;
    border-radius: 12px;
   left: -1px;
   

    border: 0.5px solid linear-gradient(
      104deg,
      rgba(117, 165, 255, 0.2) 0%,
      rgba(147, 185, 255, 0.2) 0.01%,
      rgba(255, 255, 255, 0.2) 77.6%
    ),;
    background: linear-gradient(
      104deg,
      rgba(117, 165, 255, 0.2) 0%,
      rgba(147, 185, 255, 0.2) 0.01%,
      rgba(130, 154, 190, 0.2) 77.6%
    ),
    rgba(29, 29, 29, 0.05);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 1 opacity 0.3s ease;
    transform: translateY(100px); 
  
    
  }
  nav ul li:hover .sous-menu {
    display: flex;
    padding: 6px 4px;
   
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25px;
    opacity: 1;
    visibility: visible;
    border-radius: 16px;
    font-size: 15px;
    font-style: italic;
    font-weight: 20px;
    transform: translateY(0); /* Remonte de 1px au survol */
    opacity: 1;
    
    
  }
  #content.blurred {
    filter: blur(5px);
    pointer-events: none; /* Désactive les interactions avec le contenu */
    transition: filter 0.3s ease;
  }
  
  nav ul li .sous-menu li {
    display: block;
  }
  nav ul li .sous-menu li a {
    color: var(--white-color);
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
  }
  nav ul li .sous-menu li a:hover {
  
    color:var(--one-color);
  }


  /* Bouton contribute en bas */
  .contribute {
    margin-top: auto; /* Le placer en bas */
    margin-bottom: 2rem; /* Espacement par rapport au bas */
    display: block;
  }

  /* Masquer logo, menu et bouton contribute par défaut */
  .logo,
  .contribute,
  .menu-list {
    display: none;
  }

  /* Afficher les éléments une fois le menu ouvert */
  .header.open .logo,
  .header.open .contribute,
  .header.open .menu-list {
    display: flex;
  }
  .header.open .menu-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .para .welcome .title{
    font-size: 40px;
  }
  .para .welcome .texte{
    font-size: 14px;
    width: 500px;
  }
}


@media screen and (max-width: 1024px) {
  header {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;

    justify-content: space-between;
    
    align-items: center;
    padding: 1rem;
  }

  header nav ul {
    gap: 2.5rem;
  }
  header img {
    width: 62px;
    height: 30px;
  }

  .contribute {
    font-size: 10px;
    padding: 8px 16px;
  }
  .contribute:hover {
    background: var(--one-color);
    border-radius: 30px;
    border: 1px solid;
    background: none;
  }
}
/* Petits écrans (tablettes et téléphones) */
@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 150px;
    width: 25%;
    height: 90%;
    z-index: 999;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(900deg, rgba(117, 165, 255, 0.20) 0%, rgba(147, 185, 255, 0.20) 0.01%, rgba(255, 255, 255, 0.20) 77.6%), rgba(29, 29, 29, 0.05);
    box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.15) inset;
    -webkit-backdrop-filter: blur(3px); 
    backdrop-filter: blur(3px);
    border-radius: 2.5rem;
    border: 0.3px solid #3F1F55;

    transition: right 0.3s ease-in-out;
  }
  .contribute {
    font-size: 0.7rem;
    padding: 5px 10px;
  }

  .header.open .menu-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem;
  }
  main {
    
    padding: 2rem 1rem;
  }

  main .welcome {
    width: 90%;
  }

  .title {
    font-size: 50px;
  }

  .texte {
    width: 90%;
    font-size: 14px;
  }

  .texte span {
    font-size: 18px;
  }

  .explore {
    font-size: 18px;
    padding: 10px 16px;
  }
}

/* Très petits écrans (mobiles) */
@media screen and (max-width: 480px) {
  .title {
    font-size: 40px;
  }

  .texte {
    font-size: 12px;
    width: 100%;
    
  }

  .texte span {
    font-size: 16px;
  }

  .explore {
    font-size: 16px;
    padding: 8px 14px;
  }
}

/* Ultra petits écrans (320px et moins) */
@media screen and (max-width: 320px) {
 
  
  .title {
    font-size: 30px;
  }

  .texte {
    font-size: 11px;
  }

  .texte span {
    font-size: 14px;
  }

  .explore {
    font-size: 14px;
    padding: 6px 12px;
  }
}