 .first {
    position: relative;
    text-decoration: none;
    color: var(--one-color);
    font-weight: bold;
    transition: color 0.3s ease;
    white-space: nowrap;
  }

  .explore {
    position: fixed;
    right: 25px;
    top: 300px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 34px;
    border: none;
    background: linear-gradient(
      93deg,
      

      rgba(70, 99, 153, 0.03) 9.19%,
      rgba(117, 165, 255, 0.5) 100%
    );
    backdrop-filter: blur(8px);
    -filter: blur(8px);
    
  }

  .back {
    position: fixed;
    left: 25px;
    top: 300px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 34px;
    border: none;
    background: linear-gradient(
      93deg,
     
      rgba(117, 165, 255, 0.5) 9.19%,
      rgba(70, 99, 153, 0.03) 100%
      
    );
    backdrop-filter: blur(8px);
    -filter: blur(8px);
    
    
  }