.first {
    position: relative;
    text-decoration: none;
    color: var(--one-color);
    font-weight: bold;
    transition: color 0.3s ease;
    white-space: nowrap;
  }

  .explore {
    position: fixed;
    right: 25px;
    top: 300px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 34px;
    border: none;
    background: linear-gradient(
      93deg,
      rgba(117, 165, 255, 0.5) 9.19%,
      rgba(70, 99, 153, 0.03) 100%
    );
    backdrop-filter: blur(8px);
    -filter: blur(8px);
    color: var(--white-color);
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
  }
  .back {
    position: fixed;
    left: 25px;
    top: 300px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 34px;
    border: none;
    background: linear-gradient(
      93deg,
      rgba(117, 165, 255, 0.5) 9.19%,
      rgba(70, 99, 153, 0.03) 100%
    );
    backdrop-filter: blur(8px);
    -filter: blur(8px);
    color: var(--white-color);
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
  }