@import url('https://fonts.cdnfonts.com/css/nasalization');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
    font-family: 'Nasalization';
    src: url('font/nasalization-rg.otf');
}

:root {
    --menu-font: 'Nasalization', sans-serif;
    --body-font: "Red Hat Display", sans-serif;
    --white-color: #FFFFFF;
    --body-color: #101221;
    --one-color: #75A5FF;
    --tow-color: #2339FF;
    --inabel-color :#8888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);  
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
  
}

/*******************************LE MENU***********************************************************/

header {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    justify-content: space-between; 
    align-items: center;
    background: linear-gradient(104deg, rgba(117, 165, 255, 0.20) 0%, rgba(147, 185, 255, 0.20) 0.01%, rgba(255, 255, 255, 0.20) 77.6%), rgba(29, 29, 29, 0.05);
    -webkit-border-radius: 54px;
    -moz-border-radius: 54px;
    border-radius: 54px;
    margin: 0.625rem auto;
    font-size: 1rem;
    white-space: nowrap;
    padding:0.625rem 2rem;
 
}

header img {
    width: 77px;
    height: 45px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem; 
    list-style: none; 
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    transition: color 0.3s ease;
    white-space: nowrap;
}

nav ul li a:hover {
    color: var(--one-color);
}

nav ul li #visibel:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

nav ul li a.closed {
    color: var(--inabel-color);
    cursor: not-allowed;
}

.contribute {
    display: flex;
    padding: 0.625rem 0.75rem; 
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    border: 1px solid var(--one-color);
    background: none;
    color: #FFF;
    transition: color 0.3s ease;
    
}

.contribute:hover {
    background: var(--one-color);
}


/**********************************LE PARAGRAPHE********************************************************/
main {
    display: flex;
    width: 100vw;
    height: 120vh;
    padding-bottom: 0.625rem ;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
   
}
main .para
{
    display: flex;
    justify-content:flex-start;  
    align-items: flex-start;
    flex-direction: column;
    width:50%;
    height: 50%;
    gap: 3.5rem;
   
}

main .welcome{
    display: flex;
    width: 641px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    
}

.title{
    font-family: var(--menu-font);
    color: white;
    font-size: 40px;
 
}


.texte{
    color: #FFF;
   font-family: var(--body-font);
   font-size: 18px;
   font-style: italic;
   font-weight: 400;
   max-width: 700px;
   height: 20px;
   line-height: normal;
  

}
.texte span{
    background: linear-gradient(90deg, #2339FF 7.6%, #75A5FF 47.1%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--body-font);
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;

    
}
.explore{
    text-decoration: none;
    color: #FFF;
    font-family: var(--body-font);
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    
}













/****************************************MEDIA**************************************************/


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        gap: 1.5rem; 
    }

    .contribute {
        padding: 0.5rem 0.625rem; 
    }
}